body {
  font-family: cursive;
}
h1 {
  background-color: black;
  color: #21e1e1;
  padding-left: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
}
h2 {
  text-align: center;
  color: white;
  background-color: purple;
  font-style: italic;
}
h3 {
  text-decoration: underline;
  text-align: right;
  background-color: #3b9ae1;
  padding-right: 20px;
}
span {
  color: white;
}
