body {
  border-right: 5px solid black;
}
.row {
  display: flex;
  align-items: center;
  height: 200px;
  /* outline: 1px dotted red; */
  margin-top: 20px;
  margin-bottom: 20px;
}
.col,
.col-2,
.col-3 {
  background-color: green;
  color: white;
  margin: 20px;
  height: 40%;
  padding: 60px 0 0 40px;
}
.col {
  flex: 1;
}
.col-2 {
  flex: 2;S
}
.col-3 {
  flex: 3;
}
